.hidden {
  display:none;
}
 /*이미지 배경화면으로 사용하는 방법*/
img {
  position:absolute;
  width:100%;
  height:100%;
  left: 0px;
  top: 0px;
  right:0px;
  bottom:0px;
  z-index: -1;   /*글보다 뒤로 위치하게 해준다*/
  opacity:10%;  /*불투명도 --> 0%일시 아예 안보인다*/
  }
  